# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Practicas de cursos\CRMGraphQL\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
